img,iframe {
  max-width: 100%;
}
body {
  -webkit-text-size-adjust: 100%;
}


@meda ia screen and(max-width:480px){
    
body
    width: 750px;
    margin: 0 auto;
}
header .header-aoipay{
 width: 200px;
}




















    
    }
    