html {
    font-size: 10px;
    height: 100vw;
}

body {
    max-width: 750px;
    margin: 0 auto;
    font-size: 1.4rem;
}

img {
    width: 100%;
}

header {
    position: relative;
    height: 12vw;
    border-bottom: solid 0.5vw;
    border-image: linear-gradient(to right, #09afd2 0%, #07cfa0 100%);
}

header .header_aoipay {
    width: 28vw;
    margin: 0 auto;
    padding-top: 3.8vw;
}

header .headar_btn {
    width: 9vw;
    position: absolute;
    left: 88vw;
    top: 1.7vw;
}

/*メイン*/

.main_view {
    max-width: 100%;
    height: 100vw;
    background-image: url(images/mv.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.main_view h1 {
    position: absolute;
    top: 36%;
    left: 4%;
    width: 46%;
}

.main_view p {
    position: absolute;
    top: 17.8%;
    left: 4%;
    width: 46%;
}

.campaign h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 12.6vw;
    margin-bottom: 10.5vw;
}

.campaign .campaign-grop {
    width: 72%;
    margin: 0 auto;
    position: relative;
}

.campaign .campaign-grop {
    width: 72%;
    margin: 0 auto;
}

.campaign .campaign-grop .campaign-bnr {
    position: relative;
}

.campaign .campaign-left_btn {
    width: 7%;
    position: absolute;
    left: -11%;
    top: 11vw;
}

.campaign .campaign-right_btn {
    width: 7%;
    position: absolute;
    right: -11vw;
    top: 11vw;
}

/*ご利用方法*/

.service h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 26.6%;
    margin-bottom: 9.3%;
}

.service .service_text {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.6;
    margin-left: 5.73vw;
}

.service .service_text_card {
    font-weight: bold;
    line-height: 1.9;
    font-size: 1.5rem;
    margin-left: 5.73vw;
}

.service .card_text {
    font-weight: normal;
    line-height: 1.6;
    font-size: 1.3rem;
}

.service .service_grop li {
    display: flex;
    width: 92%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: -4.8vw;
}

.service .service_grop li .aoipay_icon {
    width: 29.8vw;
}

.service .service_grop li .card_icon {
    width: 29.8vw;
}

.service .service_grop li .QR-icon {
    width: 29.8vw;
}

.service .btn {
    border: solid;
    border-radius: 15px;
    color: rgb(157, 166, 172);
    height: 15.7vw;
    width: 76.8vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 11.2vw;
    position: relative;
}

.service .btn a {
    color: rgb(52, 62, 66);
    text-decoration: none;
    display: block;
    position: absolute;
    padding-top: 5.3vw;
    top: 0;
    left: 0;
    width: 100%;
    height: 72%;
    text-align: center;
}

.announce {
    background-image: url(images/town.png);
    background-position: top 9vw right;
    background-size: 52.8vw;
    background-repeat: no-repeat;
}

.announce h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 26.4vw;
    margin-bottom: 14.6vw;
}

.announce .announce-text {
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-left: 4vw;
}

.announce .announce-text :last-child {
    margin: 6.6vw 0 9.3vw;
    font-size: 1.1rem;
    line-height: 5.3vw;
}

.announce .announce-text b {
    font-size: 4.5rem;
}

.announce .announce-text a {
    font-size: 4.5rem;
    line-height: 20vw;
}

.announce .announce-btn {
    border: solid;
    border-radius: 15px;
    color: rgb(157, 166, 172);
    height: 15.7vw;
    width: 76.8vw;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4vw;
    background-color: #FFFFFF;
    position: relative;
}

.announce .announce-btn a {
    color: rgb(52, 62, 66);
    text-decoration: none;
    display: block;
    position: absolute;
    padding-top: 5.3vw;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    text-align: center;
}

.download h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 46vw;
    margin-bottom: 14.3vw;
}

.download p {
    width: 64vw;
    margin: 0 auto;
    margin-bottom: 3.3vw;
}

.cussion h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 26.9vw;
    margin-bottom: 11.2vw;
}

.cussion ul {
    width: 92%;
    margin: 0 auto;
    list-style: none;
}

.cussion li {
    border-top: solid rgb(223, 231, 236);
    border-width: 1px 0 1px;
    padding: 7vw 0 7vw 0;
    height: 30vw;
}

.cussion li:first-child {
    border: none;
}

.cussion dl {
    font-size: 1.3rem;
}

.cussion dt {
    background-image: url(images/Q-mark.png);
    background-repeat: no-repeat;
    background-size: 10.6vw;
    padding-left: 13vw;
    padding-top: 2.3vw;
    height: 10.62vw;
}

.cussion dd {
    background-image: url(images/A-mark.png);
    background-repeat: no-repeat;
    background-size: 10.6vw;
    padding-left: 13vw;
    padding-top: 2.3vw;
    height: 10.62vw;
    line-height: 5.6vw;
    font-size: 1.3rem;
}

.cussion a {
    color: black;
}

.cussion .btn {
    border: solid;
    border-radius: 15px;
    color: rgb(157, 166, 172);
    height: 15.7vw;
    width: 76.8vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 12vw;
    position: relative;
}

.cussion .btn a {
    color: rgb(52, 62, 66);
    text-decoration: none;
    display: block;
    position: absolute;
    padding-top: 5.3vw;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    text-align: center;
}

/*フッター*/

footer {
    width: 100%;
    height: 100vw;
    color: #FFFFFF;
    background-image: linear-gradient(to right, #06a67e 0%, #0790a1 100%);
    position: relative;
    margin-top: 20vw;
}

footer .footer-grop {
    width: 92%;
    margin: 0 auto;
}

footer .footer-aoypay {
    position: absolute;
    left: 4vw;
    top: 9.3vw;
}

footer .sns_group {
    position: absolute;
    left: 50vw;
    top: 9.3vw;
}

footer li {
    float: left;
    width: 50%;
    list-style: none;
    font-size: 1.3rem;
    line-height: 2.5;
}

footer ul li a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 4vw;
}

footer .footer-aoypay {
    width: 36vw;
}

footer .twitter, .facebook, .instagram {
    width: 6.6vw;
    margin-right: 4vw;
}

footer .footer-text {
    width: 92%;
    margin: 0 auto;
    font-size: 1.3rem;
    position: absolute;
    top: 28vw;
    left: 4vw;
}

footer .copy-aoiyuwaku {
    font-size: 1.3rem;
    position: absolute;
    top: 66vw;
    right: 4.4vw;